@font-face {
    font-family: 'Inter';
    src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
    font-weight: normal;
    font-style: normal;
}
*{list-style: none;}
body {
  font-family: 'Inter', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    margin: 0 auto;
    width: 100%;
}
/*Header started*/
.header{
    margin: 0 auto;
    border-bottom: 1px solid #EAEBF0;
    background-color: #fff;
    width: 100%;
    
}
.header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}
.header-inner-left{
    display: flex;
    flex-direction: row;
    gap: 64px;
    align-items: center;
    justify-content: center;
}
.header-links{
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
}
.header-links  a{
    color: #272D37;
    font-size: 15px;
    font-weight: 600;
line-height: 22px; /* 146.667% */ 
}


/* .header-links,.header-links-buttons{
    display: none;
} */
.hamburger{
    position: absolute;
    top: 10px; /* Açıkça görünen hamburger butonu */
    right: 10px;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}
.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}
.nav-menu {
    position: fixed;
    right: 0;
    width: 45%;
    top: -100%; /* Menüyü ekranın üstünden başlat */
    text-align: center;
    transition: 0.3s;
    background-color: #f8f9fb;
    color: #272D37;
}
.nav-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.nav-link{
    transition: 0.5s ease;
}
.nav-item{
    margin: 16px 0;
}
.nav-item a{
    color: #437EF7;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.1px; 
}
.nav-item a:hover{
    color: #14ae5c;
}
.nav-menu.active{
    top: 0;
}
.nav-resource, .left-resource{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}


/*header end*/

/*Hero started*/
.hero{
    margin: 0 auto;
    background-color: #f8f9fb;
    width: 375px;
}
.hero-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 32px 16px;
    text-align: center;
}
.hero-inner h5{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.1px; 
    color: #437EF7;
}
.hf-hf{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.hf-hf h4{
    color: #272D37;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px; /* 122.222% */
    letter-spacing: -0.72px; 
}
.hf-hf h6{
    color: #5F6D7E;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.1px; 
}
/*hero end*/

/*features started*/
.features{
    margin: 0 auto;
    background-color: #fff;
}
.features-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 16px;
    gap: 32px;
}
.features-inner h4{
    color: #272D37;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px; 
}
.features-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.features-content-left, .features-content-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.features-pieces, .features-pieces-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.pieces-text h5{
    color: #272D37;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px; /* 140% */
    letter-spacing: -0.4px; 
}
.pieces-text h6{
    color: #5F6D7E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.1px; 
    padding-top: 8px;
}
.pieces-way{
    display: flex;
    align-items: center;
    gap: 6px;
    color: #437EF7;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px; /* 146.667% */ 
    }
    /*features END*/    

    /*Left-to-right started*/
.ltr{
    margin: 0 auto;
}
.ltr-inner{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px 16px;
        gap: 32px;
}
.inner-left h4{
        color: #272D37;
        font-size: 28px;
        font-weight: 600;
        line-height: 36px; /* 128.571% */
        letter-spacing: -0.56px; 
        padding-bottom: 24px;
}
.text-check{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5F6D7E;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.1px; 
}
.inner-left a{
        margin-top: 22px;
        display: inline-flex;
        align-items: center;
        gap: 6px;
        background-color: #437EF7;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
        padding: 12px 18px;
        color: #fff;
        border-radius: 6px;
}
 /*Left-to-right end*/

/*team-section started*/
.team-section{
    margin: 0 auto;
}
.team-content{
    padding: 40px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.team-profiles{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.team-text{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.team-text h4{
        color: #272D37;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px; /* 133.333% */
        letter-spacing: -0.48px; 
}
.team-text h5{
        font-size: 16px; 
        color: #5F6D7E;
        text-align: center;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: -0.1px; 
 }

.team-info img{
        border-radius: 5px;
        padding-bottom: 16px;
}
.team-info h5{
        font-size: 20px;
        font-weight: 600;
        line-height: 28px; /* 140% */
        letter-spacing: -0.4px; 
        color: #272D37;
}
.team-info h6{
        color: #5F6D7E;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: -0.1px; 
}
.team-social{
        display: flex;
        gap: 16px;
        padding-top: 12px;
}
    /*team-section ended*/


    /*FAQ started*/
.faq{
    margin: 0 auto;
    background-color: #FFFFFF;
 }
.faq-inner{
        padding: 40px 16px;
        display: flex;
        flex-direction: column;
        gap: 32px;
}
.blockHeader{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px; 
}
.blockHeader h4{
        color: #272D37;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px; /* 133.333% */
        letter-spacing: -0.48px; 
        text-align: center; 
}
.blockHeader h5{
        text-align: center; 
        color: #5F6D7E;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: -0.1px; 
}
.faq-quest{
        border: 1px solid #EAEBF0;
        border-radius: 5px;
}
.faqQuestions{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EAEBF0;
}
.faqText{
    padding: 32px 20px;
    border-bottom: 1px solid #EAEBF0;
}
.faqText h5{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.1px; 
    color: #272D37;
}
.faqText p{
        color: #5F6D7E;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px; /* 150% */
        letter-spacing: -0.1px; 
}
 /*FAQ END*/

 /*call to action started*/
 .call-to-action{
        margin: 0 auto;
        background-color: #2B63D9;
    }
.cta-inner{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 16px;
        padding: 32px 16px;
}
.inner-text{
    display: flex;
    flex-direction: column;
    gap: 8px;
 }
.inner-text h6{
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px; /* 142.857% */
        letter-spacing: -0.1px; 
        text-align: center;
}
.inner-text h5{
        color: #fff;
        font-size: 28px;
        font-weight: 600;
        line-height: 36px; /* 128.571% */
        letter-spacing: -0.56px;
        text-align: center; 
}
.inner-buttons{
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        gap: 16px;
}
.sign-up{
    background-color: #fff;
    width: 100%;
    text-align:  center;
    padding: 12px 18px;
    border-radius: 6px;
    color: #2B63D9;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px; /* 146.667% */ 
}
.log-in{
    background-color: #437EF7;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04); 
    color: #fff;
    text-align:  center;
    padding: 12px 18px;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px; /* 146.667% */ 
}
 /*call to action end*/

 /*logo section started*/
 .logo-section{
    margin: 0 auto;
    background-color: #2B63D9;
 }
.section-inner{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px 16px;
}
.section-content-top, .section-content-bot{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
/*logo section end*/

.footer{
    margin: 0 auto;
}
.inner-footer{
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sec1-text-logo h6{
    padding-top: 16px;
    color: #5F6D7E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.1px; 
}
.footer-social{
    padding-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
}
.footer-sec-res{
    display: none;
}
.footer-sec2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 64px;
}
.sec2-links{
    display: inline-flex;
    flex-direction: row;
}
.sec2-links ul h4{
    font-size: 16px;
    color: #272D37;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: -0.1px; 
    padding-bottom: 16px;
}
.sec2-links ul li{
    padding-bottom: 12px;
    list-style: none;
}
.sec2-links ul li a{
    font-size: 16px;
    color: #5F6D7E;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.1px;
}
.footer-sec3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
}
.footer-sec3 h4{
    color: #5F6D7E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.1px; 
}
.footer-sec3 img{
    padding: 8px;
    background-color: #F5FAFF;
    border-radius: 30px;
}
.sec3-text-social{
    display: flex;
    flex-direction: column;
}
.sec3-res{
    display: none;
}

/***********RESPONSIVE****************/

/** 376px & 768   **/

@media (width > 376px){
.container{
    width: 768px;
}
.header{
    width: 768px;
}
.hero{
    width: 768px;
}
.hero-inner {
    padding: 48px 48px 88px 48px;
}
.header-links, .header-buttons{display: none;}
.hf-hf{
    gap: 24px;
}
.hf-hf h4{
    font-size: 52px;
    font-weight: 700;
    line-height: 60px; /* 115.385% */
    letter-spacing: -0.52px
}
.features-inner{
    padding: 40px 32px;
}
.features-inner h4{
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}
.features-content{
    flex-direction: row;
    margin: 0 auto;
    align-items: start;
    gap: 32px;
}
.pieces-text h5{
    font-size: 22px;
    font-weight: 600;
    line-height: 30px; /* 136.364% */
    letter-spacing: -0.22px; 
}
.ltr-inner{
    padding: 40px 32px;
    gap: 48px;
} 
.inner-sign, .inner-log{
    width: 15%;
}
.inner-right img{
    width: 704px;
}
.inner-left h4{
    font-size: 32px;
    line-height: 42px; /* 131.25% */
    letter-spacing: -0.32px; 
}
.team-grid{
    display: grid;
     grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}
.team-text h4{
    font-size: 32px;
    line-height: 40px; /* 125% */
    letter-spacing: -0.64px; 
}
.team-info img{
    width: 336px;
}
.team-social a{
    max-width: 20px;
}
.faq-inner{
    padding: 40px 32x;
}
.blockHeader{
    gap: 16px; 
}
.blockHeader h4{
    font-size: 32px;
    line-height: 40px; /* 125% */
    letter-spacing: -0.64px; 
}
.cta-inner{
    gap: 32px;
    padding: 40px 32px;
}
.inner-text h5{
    font-size: 32px;
    line-height: 42px; /* 131.25% */
    letter-spacing: -0.32px; 
}
.inner-buttons{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}

.section-inner{
    padding: 40px 32px;
}
.section-inner{
    padding: 40px 32px;
}
.section-content-top, .section-content-bot{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.inner-footer{
    padding: 40px 32px;
}
.footer-sec1{
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.footer-social{
    display: none;
}
.footer-sec-res{
    display: inline-flex;
    flex-direction: row;
    padding-right: 64px;
}
.footer-sec-res ul h4{
    font-size: 16px;
    color: #272D37;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: -0.1px; 
    padding-bottom: 16px;
}
.footer-sec-res ul li{
    padding-bottom: 12px;
    list-style: none;
}
.footer-sec-res  ul li a{
    font-size: 16px;
    color: #5F6D7E;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.1px;
}
.sec1-text-logo{
    width: 247px;
}
.sec2-res{
    display: none;
}
.sec2-links{
    width: 192px;
}
.footer-sec2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-sec3{
    gap: 16px;
}
.sec3-text-social{
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 709px;
}
.sec3-res{
    display: flex;
    gap: 24px;
    padding: 0;
}
.sec3-res a {
    width: 24px;
    height: 24px;
}
} 
/** 376px & 768 END   **/



/*min-769*/
@media (width > 769px) {
    .container{
        width: 1440px;
        margin: 0 auto;
    }
    .header{
        width: 1440px;
    }
    .header-buttons,.header-links{
        display: flex;
        width: 190px;
    }
    .header-inner{
        padding: 32px;
    }
    .brand-logo{
        width: 168px;
    }
    .nav-menu, .hamburger{
        display: none;
    }
    .hero{
        width: auto;
    }
    .hero-inner{
        margin: 0 auto;
        padding: 80px 30px 90px 30px;
    }
    .hf-hf{
        width: 640px;
    }
    .hf-hf h4{
        font-size: 52px;
        font-weight: 700;
        line-height: 60px; /* 115.385% */
        letter-spacing: -0.52px; 
    }
    .features{
        padding-block: 64px;
        
    }
    .features-inner{
        gap: 64px;
    }
    .features-inner h4{
        font-size: 32px;
        font-weight: 700;
        line-height: 40px; /* 125% */
        letter-spacing: -0.64px; 
    }
.features-content-right{
     display: none;
}
.features-content-left{
    flex-direction: row;
    gap: 32px;
}
.ltr-inner{
    padding: 0;
    flex-direction: row; 
    align-items:center;
    gap: 124px;
    padding-block: 64px;
}
.inner-left h4{
    font-size: 32px;
    font-weight: 600;
    line-height: 42px; /* 131.25% */
    letter-spacing: -0.32px; 
}
 .team-content{
    padding: 0;
    padding-block: 64px;
    gap: 64px;
}
.team-text{
    max-width: 800px;
}
.team-grid{
    display: flex;
    flex-direction: row;
    padding-inline: 32px;
}
.team-text h4{
    font-size: 32px;
    font-weight: 700;
    line-height: 40px; /* 125% */
    letter-spacing: -0.64px; 
}
.team-info h5{
    font-size: 22px;
    line-height: 30px; /* 136.364% */
    letter-spacing: -0.22px; 
}
.faq-inner{
    padding: 0;
    padding-block: 64px;
    gap: 64px;
}
.blockHeader{
    padding-inline: 32px;
}
.blockHeader h5{
    width: 800px;
}
.faqQuestions{
    justify-content: space-between;
}
.faqIcon{
    padding: 16px 32px;
}
.cta-inner{
    padding: 0;
    padding-block: 64px;
}
.inner-text h5{
    font-size: 32px;
    line-height: 42px; /* 131.25% */
    letter-spacing: -0.32px; 
}
.inner-sign, .inner-log {
    width: 91px;
    height: 46px;
    padding: 10px 15px;
    
}
.section-inner{
    padding: 0;
    padding-block: 64px;
    flex-direction: row;
    justify-content: center;
    gap: 64px;
}
.inner-footer{
    padding: 0;
    padding-block: 64px;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer-sec-res{
    display: none;
}
.footer-sec1{
    flex-direction: column;
}
.footer-social{
    display: inline-flex;
    gap:24px
}
.sec3-res{
    display: none;
}
.sec3-text-social{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
}