@font-face {
    font-family: 'Inter';
    src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
    font-weight: normal;
    font-style: normal;
}
body {
  font-family: 'Inter', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    margin: 0 auto;
    width: 375px;
}
/*Header started*/
.header{
    margin: 0 auto;
    border-bottom: 1px solid #EAEBF0;
    background-color: #f8f9fb;
    
}
.header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}
/*header end*/

/*Hero started*/
.hero{
    margin: 0 auto;
    background-color: #f8f9fb;
}
.hero-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 32px 16px;
    text-align: center;
}
.hero-inner h5{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.1px; 
    color: #437EF7;
}
.hf-hf{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.hf-hf h4{
    color: #272D37;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px; /* 122.222% */
    letter-spacing: -0.72px; 
}
.hf-hf h6{
    color: #5F6D7E;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.1px; 
}
/*hero end*/

/*features started*/
.features{
    margin: 0 auto;
    background-color: #fff;
}
.features-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 16px;
    gap: 32px;
}
.features-inner h4{
    color: #272D37;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px; 
}
.features-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.features-pieces{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.pieces-text h5{
    color: #272D37;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px; /* 140% */
    letter-spacing: -0.4px; 
}
.pieces-text h6{
    color: #5F6D7E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.1px; 
    padding-top: 8px;
}
.pieces-way{
    display: flex;
    align-items: center;
    gap: 6px;
    color: #437EF7;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px; /* 146.667% */ 
    }
    /*features END*/    

    /*Left-to-right started*/
    .ltr{
        margin: 0 auto;
    }
    .ltr-inner{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px 16px;
        gap: 32px;
    }
    .inner-left h4{
        color: #272D37;
        font-size: 28px;
        font-weight: 600;
        line-height: 36px; /* 128.571% */
        letter-spacing: -0.56px; 
        padding-bottom: 24px;
    }
    .text-check{
        display: flex;
        align-items: center;
        gap: 8px;
        color: #5F6D7E;
        padding-bottom: 10px;
    }
    .inner-left a{
        margin-top: 22px;
        display: inline-flex;
        align-items: center;
        gap: 6px;
        background-color: #437EF7;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
        padding: 12px 18px;
        color: #fff;
        border-radius: 6px;
    }
     /*Left-to-right end*/

     
